.card_cover {
  border-radius: 20px;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.card_header .offer_price {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.cursor_pointer {
  cursor: pointer;
}
.card_cover .img_section {
  height: 200px;
}
.progress_bar {
  height: 30px;
  border-radius: 50px;
}
.progress_bar_inner {
  height: 28px;
  border-radius: 50px;
}
.offer_timer {
  height: 50px;
  width: 50px;
}

.card_cover_card {
  padding: 1px;
  width: 280px;
}
.card_cover_card:hover {
  padding: 1px;
  width: 280px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card_header {
  position: relative;
}
.side_Images {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.main_Images {
  position: relative;
  width: 100%;
  height: 225px;
}
.main_Images img{
  object-fit: fit;
}
.buy_product{
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
border-radius:  50px;
font-size: 30px;
cursor: pointer;
}