.dropzone {
  background-color: #f0f0f0;
  border: 2px dashed #888;
  padding: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #555;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.dropzone.active {
  background-color: #e6f7ff;
}

.dropzone:hover {
  border-color: #007bff;
}

.dropzone p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.input_table{
    box-shadow: none;
    width: 200px;
    height: 38px;
    outline: none;
    color: black;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgb(255, 217, 2);
    border-radius: 3px;
}